body {
	width: 100%; height: 100%;
}
html {
	width: 100%; height: 100%;
}
form {
	width: 100%; height: 100%;
}
body {
	margin: 0px; padding: 0px; font-family: "Verdana", "Arial", "?????", "sans-serif"; font-size: 12px;
}
.middlecss {
	border-right-color: rgb(199, 197, 217); border-right-width: 1px; border-right-style: solid; background-color: rgb(255, 255, 255);
}
.cbutton {
	border-width: 1px; border-style: solid; border-color: rgb(255, 255, 255) rgb(145, 171, 196) rgb(145, 171, 196) rgb(255, 255, 255); margin: 0px; padding: 4px 2px 2px; border-image: none; color: rgb(0, 0, 0); line-height: 10px; font-family: "Arial","????"; font-size: 9pt; cursor: pointer; background-color: rgb(234, 239, 242);
}
.button_bak {
	border: currentColor; width: 60px; height: 20px; font-family: tahoma,????; font-size: 9pt; margin-right: 10px; cursor: pointer; background-image: url("http://www.ayrlzy.com/Manager/images/button_On.gif");
}
.button_bak2 {
	margin: auto 10px; border: currentColor; width: 100px; height: 20px; font-family: tahoma,????; font-size: 9pt; cursor: pointer; background-image: url("http://www.ayrlzy.com/Manager/images/button_On2.gif");
}
.TD_Class {
	font-family: "Verdana", "Arial", "?????", "sans-serif"; font-size: 12px;
}
a:hover {
	text-decoration: none;
}
a {
	color: rgb(0, 0, 0);
}
.text_input {
	border-width: 1px; border-color: rgb(221, 221, 221); padding: 3px 2px 2px; color: rgb(0, 0, 0);
}
.tex_input {
	border-width: 1px; border-color: rgb(221, 221, 221); font: 12px/1.6em Trebuchet MS, Helvetica, Arial, sans-serif; padding: 2px; width: 100%; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
.Table_yellow {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 12px; background-color: rgb(255, 255, 153);
}
.Table_blue {
	color: rgb(255, 255, 255); font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 12px; background-color: rgb(51, 102, 153);
}
.Table_blue1 {
	color: rgb(255, 255, 255); font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 12px; background-color: rgb(51, 102, 204);
}
.no_input {
	padding: 1px; border: 0px solid rgb(102, 91, 142); border-image: none; height: 20px; color: rgb(51, 51, 51); font-family: "Arial"; font-size: 12px; cursor: text;
}
.down_text {
	color: rgb(255, 255, 255); font-family: Arial; font-size: 8pt; background-color: rgb(0, 0, 0);
}
.down_tools_button {
	color: rgb(255, 255, 255); line-height: 7px; padding-top: 0px; padding-right: 2px; padding-bottom: 0px; font-family: "Arial"; font-size: 9pt; border-right-color: rgb(0, 0, 0); border-left-color: rgb(255, 255, 255); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; position: relative; cursor: pointer; background-color: rgb(0, 0, 0); PADDDING-LEFT: 2px;
}
.menubar_button {
	padding: 0px 2px; border: 1pt solid rgb(255, 255, 255); border-image: none; line-height: 7px; font-family: "Arial"; font-size: 9pt; position: relative; cursor: pointer; background-color: rgb(255, 255, 255); PADDDING-LEFT: 0px;
}
.menubar_button_on {
	border-width: 1pt; border-style: outset outset outset solid; border-color: rgb(0, 0, 0); padding: 0px 2px; line-height: 7px; font-family: "Arial"; font-size: 9pt; position: relative; cursor: pointer; background-color: rgb(255, 204, 0); PADDDING-LEFT: 0px;
}
.menubar_table {
	padding: 0px; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 3px; border-bottom-style: solid; border-collapse: collapse;
}
.menubar_title {
	font-family: "Verdana", "Arial", "?????", "sans-serif"; font-size: 14px; font-weight: bold;
}
.menubar_readme_text {
	text-align: right; color: rgb(128, 128, 128); padding-bottom: 5px; font-family: "Arial"; font-size: 9pt;
}
.menubar_down_text {
	text-align: center; color: rgb(128, 128, 128); font-family: "Arial"; font-size: 9pt; border-top-color: rgb(0, 0, 0); border-top-width: 1px; border-top-style: solid; position: relative;
}
.menubar_function_text {
	color: rgb(128, 128, 128); font-family: "Arial"; font-size: 9pt; border-top-color: rgb(0, 0, 0); border-top-width: 3px; border-top-style: solid; position: relative;
}
.menubar_menu_td {
	color: rgb(128, 128, 128); font-family: "Arial"; font-size: 8pt; border-top-color: rgb(0, 0, 0); border-top-width: 3px; border-top-style: solid; position: relative;
}
.tab {
	padding: 5px 15px 1px 10px; letter-spacing: 1px; font-size: 12px; cursor: pointer;
}
#ld {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 1; opacity: 1; background-color: rgb(0, 0, 0); -moz-opacity: .100;
}
.topmenuoff {
	color: rgb(255, 255, 255); cursor: pointer;
}
.topmenuon {
	color: rgb(255, 204, 0); cursor: pointer;
}
.topmenuoff2 {
	color: rgb(0, 0, 0); cursor: pointer;
}
.topmenuon2 {
	color: rgb(0, 0, 0); cursor: pointer;
}
.table-box tr td {
	padding-left: 10px;
}
.tdTitle {
	background-color: rgb(202, 222, 232);
}
.tdTitle {
	height: 30px; line-height: 30px; padding-right: 10px; padding-left: 10px; float: left;
}
.tdFiled {
	height: 30px; line-height: 30px; padding-right: 10px; padding-left: 10px; float: left;
}
.tdTitle input {
	margin-top: 6px;
}
.tdFiled input {
	margin-top: 6px;
}
select {
	margin-top: 6px;
}
.searchTitle {
	margin: auto auto auto 0px; width: 99%; height: 30px; background-color: rgb(120, 152, 168);
}
#ctl00_PageBody_Panel1 {
	border: 1px solid rgb(204, 204, 204); border-image: none; top: 85px; bottom: 5px; position: absolute;
}
.Validform_checktip {
	height: 20px; color: rgb(153, 153, 153); line-height: 20px; overflow: hidden; font-size: 12px; margin-left: 8px;
}
.Validform_right {
	background: url("http://www.ayrlzy.com/Manager/images/right.png") no-repeat left; color: rgb(113, 184, 61); padding-left: 20px;
}
.Validform_wrong {
	background: url("http://www.ayrlzy.com/Manager/images/error.png") no-repeat left; color: red; padding-left: 20px; white-space: nowrap;
}
.Validform_loading {
	background: url("http://www.ayrlzy.com/Manager/images/onLoad.gif") no-repeat left; padding-left: 20px;
}
.Validform_error {
	background-color: rgb(255, 231, 231);
}
#Validform_msg {
	background: rgb(255, 255, 255); font: 12px/1.5 tahoma, arial, ו, sans-serif; top: 0px; width: 280px; right: 50px; color: rgb(125, 130, 137); display: none; position: absolute; z-index: 99999; font-size-adjust: none; font-stretch: normal; -webkit-box-shadow: 2px 2px 3px #aaa; -moz-box-shadow: 2px 2px 3px #aaa;
}
#Validform_msg .iframe {
	left: 0px; top: -1px; position: absolute; z-index: -1;
}
#Validform_msg .Validform_title {
	padding: 0px 8px; height: 25px; text-align: left; color: rgb(255, 255, 255); line-height: 25px; font-weight: bold; position: relative; background-color: rgb(0, 0, 0);
}
#Validform_msg a.Validform_close:link {
	top: 0px; right: 8px; color: rgb(255, 255, 255); line-height: 22px; text-decoration: none; position: absolute;
}
#Validform_msg a.Validform_close:visited {
	top: 0px; right: 8px; color: rgb(255, 255, 255); line-height: 22px; text-decoration: none; position: absolute;
}
#Validform_msg a.Validform_close:hover {
	color: rgb(204, 204, 0);
}
#Validform_msg .Validform_info {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(0, 0, 0) rgb(0, 0, 0); padding: 8px; border-image: none; text-align: left;
}
