::selection {
	color: rgb(51, 51, 51); background-color: rgba(13, 173, 81, 0.2);
}
.mod-scroll {
	border: 1px dotted transparent; border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; box-sizing: border-box;
}
.mod-scroll_bar-x {
	background: rgb(0, 0, 0); border-radius: 5px; left: 0px; width: 100%; height: 9px; bottom: 0px; font-size: 0px; position: absolute; z-index: 3; opacity: 0.1;
}
.mod-scroll_bar-y {
	background: rgb(0, 0, 0); border-radius: 5px; top: 0px; width: 9px; height: 100%; position: absolute; z-index: 3; opacity: 0.1;
}
.mod-scroll_thumb-x {
	background: rgb(0, 0, 0); border-radius: 5px; left: 0px; width: 30%; height: 9px; bottom: 0px; font-size: 0px; position: absolute; z-index: 3; opacity: 0.5;
}
.mod-scroll_thumb-y {
	background: rgb(0, 0, 0); border-radius: 5px; top: 0px; width: 9px; height: 30%; position: absolute; z-index: 3; opacity: 0.5;
}
.mod-scroll--activate .mod-scroll_bar-x {
	opacity: 0.2;
}
.mod-scroll--activate .mod-scroll_bar-y {
	opacity: 0.2;
}
.mod-scroll--activate .mod-scroll_thumb-x {
	opacity: 0.6;
}
.mod-scroll--activate .mod-scroll_thumb-y {
	opacity: 0.6;
}
.sug-search {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(227, 228, 230) rgb(227, 228, 230); border-image: none; left: 12px; top: 42px; width: 375px; color: rgb(69, 69, 69); overflow: hidden; white-space: nowrap; position: absolute; z-index: 999;
}
.sug-search ol {
	cursor: default;
}
.sug-search li {
	padding: 8px 10px; overflow: hidden; white-space: nowrap; cursor: pointer; -ms-text-overflow: ellipsis;
}
.sug-search .sug-query {
	font-weight: 800;
}
.sug-search .sug-select {
	background: rgb(245, 247, 247);
}
@media screen and (max-width:1120px)
{
.mod-login {
	display: none;
}
}
.mod-logo {
	background: url("img/map/logo-new.png") no-repeat left top; width: 181px; height: 28px;
}
.mod-map {
	left: 0px; top: 68px; right: 0px; bottom: 0px; margin-left: 460px; position: absolute !important;
}
.mod-zoom_panel {
	background: rgb(255, 255, 255); border-width: 1px 1px 0px; border-style: solid; border-color: rgb(85, 85, 85); border-image: none; width: 26px; text-align: center; right: 20px; bottom: 50px; line-height: 26px; font-size: 26px; display: none; position: absolute; z-index: 1;
}
.mod-zoom_panel li {
	height: 26px; border-bottom-color: rgb(85, 85, 85); border-bottom-width: 1px; border-bottom-style: solid; cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.mod-zoom_panel li:hover {
	color: rgb(153, 153, 153);
}
.mod-zoom_panel li:first-child {
	line-height: 22px; font-size: 20px;
}
.mod-side-control {
	top: 80px; right: 0px; display: none; position: absolute; z-index: 2;
}
.mod-side-control .li-item {
	border: 1px solid rgb(85, 85, 85); border-image: none; height: 27px; line-height: 27px; padding-right: 8px; padding-left: 8px; font-size: 12px; margin-right: 6px; float: left; cursor: pointer; box-shadow: 0px 2px 2px rgba(0,0,0,0.2); -ms-user-select: none; background-color: rgb(251, 251, 251); -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.mod-side-control .li-item-around {
	width: 50px; padding-right: 24px; padding-left: 10px; margin-left: 14px; position: relative; cursor: default;
}
.mod-side-control .li-item-around .drop-list {
	height: 174px; overflow: hidden; -ms-overflow-y: scroll; -webkit-overflow-scrolling: touch;
}
.mod-side-control .li-item-around .drop-list ol {
	padding-top: 6px; padding-bottom: 6px; display: inline-block;
}
.mod-side-control .li-item-around .item {
	width: 100%; text-align: center; padding-left: 0px; float: left; position: relative;
}
.mod-side-control .li-item-around .item i {
	background: url("img/map/i-around-all.png") no-repeat left top; left: 7px; top: 4px; width: 16px; height: 16px; position: absolute;
}
.mod-side-control .li-item-around .item-default i {
	background: none;
}
.mod-side-control .li-item-around .item-store i {
	background-position: 0px -11px;
}
.mod-side-control .li-item-around .item-bank i {
	background-position: 0px -36px;
}
.mod-side-control .li-item-around .item-bus i {
	background-position: 0px -61px;
}
.mod-side-control .li-item-around .item-station i {
	background-position: 0px -88px;
}
.mod-side-control .li-item-around .item-education i {
	background-position: 0px -114px;
}
.mod-side-control .li-item-around .item-hospital i {
	background-position: 0px -140px;
}
.mod-side-control .li-item-around .item-fun i {
	background-position: 0px -166px;
}
.mod-side-control .li-item-around .item-shop i {
	background-position: 0px -192px;
}
.mod-side-control .li-item-around .item-sport i {
	background-position: 0px -218px;
}
.mod-side-control .li-item-around .item-eat i {
	background-position: 0px -244px;
}
.line-msg {
	border-radius: 2px; line-height: 30px; padding-right: 6px; padding-left: 6px; display: none; min-height: 30px; min-width: 96px; background-color: rgba(0, 0, 0, 0.7);
}
.mod-search .btn {
	border: 1px solid rgb(46, 141, 86); border-image: none; width: 64px; height: 26px; text-align: center; vertical-align: middle; float: left; cursor: pointer; box-sizing: content-box; background-color: rgb(83, 179, 113); -webkit-box-sizing: content-box; -moz-box-sizing: content-box;
}
.mod-search .btn i {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAiZJREFUeNpi/P//PwMlQNA+BUwzEVDHAcRsxBiIzSABIG4G4ntA/B2IfwLxdSCuAmIeYg3SBuJLQFwDxIp//v778vffv29AtgYQt/76/efSq/efFAkZxAfEG4FY9t2nL2db5qxPF3VK85dwyfCauHxH9ofP326ysbIocnOw7yqfuJwPwyRQYENxLRD/f//p63k5zxxXAbtkQyDmhckX9y2R+PLtx3WQmuOXbnUC5ZhA4kAajJFdFAkiZq/bN/vT1+9vgcwL7w/O+QyT7CmMfsHCwlwMYqvJS3oCKUlcXlP59+//z66Fm24C2XeAhmCkC3ZWlkMgmoeTQxZIieMy6B+Iz87G+h9oyCcckcMKDY6/QIoLl0FXmJgYWZszQw2BiYwRh0HuIOLT1x8PQOYhS7AgsecAsXGoq0X2vaev1gDZD9EMAXmlDcQ4dvHWNiD1FZeL5v78/ec8DxeHYlVSwMEfP39FAMVEoAbEAPFJUNoCeuv37hOXbgHZz3FFPwMwekU/fP567j8OAEyQ70E00JKXV+8+1sUV/QzcnOyvU5pmWx4+f6PuxZsPJ4AaXnz/8ev5s9fvD6/adaJON6ws4uXbj0eAESKmLCux98b9Z/owvYzYcj80sEFeEoPmL5CiL0D8YvPE0s+aitJbhPl5nIE54Lyyb4ENUPwbIznFyJ6Tl9mBiXJmxaQVW7cfvXAHKHSekdzyCOpqZSB+DCohGEEBRQ0AEGAAS+sebHKuP2oAAAAASUVORK5CYII=") no-repeat left -1px; width: 18px; height: 18px; vertical-align: middle; display: inline-block;
}
.mod-search .form .sug-search {
	left: 0px; top: 28px; width: 277px;
}
.mod-search .form .sug-search li {
	padding: 6px 100px 6px 8px; position: relative;
}
.mod-search .form .sug-search li .sug-tip {
	right: 6px; color: rgb(163, 163, 163); font-size: 12px; position: absolute;
}
.mod-search input {
	border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(156, 160, 167); padding: 0px 4px; border-image: none; width: 204px; height: 26px; line-height: 26px; font-size: 12px; float: left;
}
.mod-search .aside {
	padding-left: 16px; font-size: 12px;
}
.mod-search .aside .li {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 92px; height: 26px; line-height: 26px; margin-right: 6px; float: left; position: relative; cursor: pointer;
}
.mod-search .aside .li-other {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 92px; height: 26px; line-height: 26px; margin-right: 6px; float: left; position: relative; cursor: pointer;
}
.mod-search .aside .li-btn {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 92px; height: 26px; line-height: 26px; margin-right: 6px; float: left; position: relative; cursor: pointer;
}
.mod-search .aside .li span {
	margin-left: 4px;
}
.mod-search .aside .li-other span {
	margin-left: 4px;
}
.mod-search .aside .li-btn span {
	margin-left: 4px;
}
.mod-search .aside .li-btn {
	border-width: 0px; width: auto; margin-right: 0px; margin-left: 6px;
}
.mod-search .aside .li-btn i {
	width: 20px; height: 16px; margin-top: -3px; margin-right: 2px; vertical-align: middle; display: inline-block; background-image: url("img/map/clear.png");
}
.mod-search .aside .li-mixin {
	border: 1px solid rgb(204, 204, 204); border-image: none; top: 26px; width: 192px; right: -1px; padding-top: 16px; display: none; position: absolute; cursor: default; background-color: rgb(255, 255, 255);
}
.mod-search .aside .li-mixin .li {
	margin-bottom: 16px; margin-left: 81px; float: none; cursor: pointer;
}
.mod-search .aside .li-mixin .li p {
	left: -59px; position: absolute; cursor: default;
}
.mod-login {
	top: 24px; right: 20px; position: absolute;
}
.mod-login a {
	color: rgb(51, 51, 51);
}
.mod-side .ctrl {
	left: 0px; top: 68px; bottom: 0px; position: absolute; z-index: 2;
}
.mod-side .detail {
	left: 0px; top: 68px; bottom: 0px; position: absolute; z-index: 2;
}
.mod-side .btn-wrap {
	left: 0px; top: 68px; bottom: 0px; position: absolute; z-index: 2;
}
.mod-side .detail {
	left: 56px; width: 403px; font-size: 12px; z-index: 4; background-color: rgb(255, 255, 255);
}
.mod-side .detail .r-ctrl {
	font-size: 12px;
}
.mod-side .detail .r-ctrl .li {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 180px; height: 26px; line-height: 26px; margin-top: 4px; margin-right: 13px; float: left; position: relative;
}
.mod-side .detail .r-ctrl .li span {
	margin-left: 4px;
}
.mod-side .detail .r-ctrl .m-main {
	padding-left: 12px;
}
.mod-side .detail .r-ctrl .m-top {
	padding-left: 12px;
}
.mod-side .detail .r-ctrl .m-btm {
	padding-left: 12px;
}
.mod-side .detail .r-ctrl .m-top {
	height: 38px; line-height: 38px; font-weight: 800; background-color: rgb(245, 250, 254);
}
.mod-side .detail .r-ctrl .m-main {
	padding-top: 15px; padding-bottom: 17px; border-top-color: rgb(210, 210, 210); border-bottom-color: rgb(210, 210, 210); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.mod-side .detail .r-ctrl .m-main .steam-input {
	border: 1px solid rgb(161, 161, 161); border-image: none; width: 365px; height: 26px; line-height: 26px; padding-left: 10px; margin-bottom: 14px;
}
.mod-side .detail .r-ctrl .m-main button {
	border: 1px solid rgb(50, 97, 139); border-image: none; width: 376px; height: 38px; text-align: center; color: rgb(255, 255, 255); line-height: 38px; font-size: 14px; font-weight: 800; margin-top: 16px; cursor: pointer; background-color: rgb(59, 149, 229);
}
.mod-side .detail .r-ctrl .m-main .sug-search {
	top: 43px;
}
.mod-side .detail .r-ctrl .m-btm {
	color: rgb(170, 170, 170); padding-right: 12px; margin-top: 19px; position: relative;
}
.mod-side .detail .r-ctrl .m-btm p {
	line-height: 21px; margin-left: 65px;
}
.mod-side .detail .r-ctrl .m-btm .m-btm-tle {
	color: rgb(0, 0, 0); font-size: 13px; font-weight: 800;
}
.mod-side .detail .r-ctrl .m-btm span {
	background: url("img/map/bell.png") no-repeat left top; left: 18px; top: 4px; width: 50px; height: 50px; position: absolute;
}
.mod-side .detail .r-list .r-top {
	color: rgb(153, 153, 153); line-height: 40px; text-indent: 14px; border-bottom-color: rgb(188, 188, 188); border-bottom-width: 1px; border-bottom-style: solid; display: none; white-space: nowrap; -ms-text-overflow: ellipsis; background-color: rgb(245, 250, 254);
}
.mod-side .detail .r-list .r-top .i-top-remind {
	color: rgb(51, 51, 51); font-weight: 800;
}
.mod-side .detail .r-list .r-top .i-btn-return {
	color: rgb(60, 150, 230); padding-right: 14px; float: right; cursor: pointer;
}
.mod-side .detail .r-list .r-top .subway-msg {
	height: 60px; color: rgb(51, 51, 51); line-height: 60px; padding-right: 120px; font-size: 14px; white-space: nowrap; position: relative; -ms-text-overflow: ellipsis; background-color: rgb(254, 254, 238);
}
.mod-side .detail .r-list .r-top .subway-msg .subway-res {
	color: rgb(170, 170, 170);
}
.mod-side .detail .r-list .r-top .subway-msg .subway-hide {
	display: none !important;
}
.mod-side .detail .r-list .r-top .subway-msg .subway-select {
	border: 1px solid rgb(174, 65, 67); border-image: none; top: 15px; width: 100px; height: 28px; text-align: center; right: 14px; color: rgb(255, 255, 255); line-height: 28px; text-indent: 0px; font-size: 12px; font-weight: 800; position: absolute; cursor: pointer; background-color: rgb(228, 96, 92);
}
.mod-side .detail .r-list .r-top .subway-msg .subway-select:hover .subway-list {
	display: block;
}
.mod-side .detail .r-list .r-top .subway-msg .subway-select i {
	width: 14px; height: 14px; margin-top: -2px; margin-right: 5px; vertical-align: middle; display: inline-block; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHVJREFUeNpi+P//PwMQu0Dxpv+4wSYkdQyMIAIIwAQJgJEFibMGiDsIaKgA4hAQA1njayA+S0DjaxiDiYFMQLZGZKfKALELAfUy8NAhN1SRnboZiF2hGB3AxDdT7EeqOJWsUGUE4gtQWh+HWhR5mFNJBgABBgD6sUrxAKpSzwAAAABJRU5ErkJggg==");
}
.mod-side .detail .r-list .r-main .r-hd {
	height: 40px; line-height: 40px; text-indent: 14px; font-weight: 800; background-color: rgb(250, 250, 250);
}
.mod-side .detail .r-list .r-main .r-hd .r-hd_i {
	color: rgb(228, 57, 60); padding-right: 4px; padding-left: 4px;
}
.mod-side .detail .r-list .r-main .r-hd .r-hd_i_school {
	display: none;
}
.mod-side .detail .r-list .r-main .r-hd .r-hd_i_station {
	display: none;
}
.mod-side .detail .r-list .r-main .r-hd .r-hd_School .r-hd_i_school {
	display: inline;
}
.mod-side .detail .r-list .r-main .r-hd .r-hd_Station .r-hd_i_station {
	display: inline;
}
.mod-side .detail .r-list .r-main .r-hd2 {
	height: 40px; line-height: 40px; border-top-color: rgb(188, 188, 188); border-bottom-color: rgb(188, 188, 188); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(251, 251, 251);
}
.mod-side .detail .r-list .r-main .r-hd2 ol {
	overflow: hidden; padding-left: 12px;
}
.mod-side .detail .r-list .r-main .r-hd2 li {
	padding-right: 12px; padding-left: 12px; border-right-color: transparent; border-bottom-color: transparent; border-left-color: transparent; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; float: left; cursor: pointer;
}
.mod-side .detail .r-list .r-main .r-hd2 .desc {
	display: none;
}
.mod-side .detail .r-list .r-main .r-hd2 .s-station {
	display: none;
}
.mod-side .detail .r-list .r-main .r-hd2 .s-desc .desc {
	display: inline;
}
.mod-side .detail .r-list .r-main .r-hd2 .s-desc .asc {
	display: none;
}
.mod-side .detail .r-list .r-main .r-hd2 .on {
	border-color: rgb(188, 188, 188) rgb(188, 188, 188) rgb(255, 255, 255); cursor: default; background-color: rgb(255, 255, 255);
}
.mod-side .detail .r-list .r-main .r-hd2 .s-price.on {
	cursor: pointer;
}
.mod-side .detail .r-list .r-main .r-hd2 .s-area.on {
	cursor: pointer;
}
.mod-side .detail .r-list .r-main .r-container {
	height: 410px; overflow: hidden; -ms-overflow-y: auto; -webkit-overflow-scrolling: touch;
}
.mod-side .detail .r-list .r-main .r-content .list-item {
	border-bottom-color: rgb(228, 228, 228); border-bottom-width: 1px; border-bottom-style: solid;
}
.mod-side .detail .r-list .r-main .r-content .list-item a {
	padding: 22px 17px; transition:background-color 0.15s ease-in-out; width: 370px; color: rgb(85, 85, 85); font-size: 12px; display: block; position: relative; background-color: rgb(255, 255, 255); -webkit-transition: background-color .15s ease-in-out;
}
.mod-side .detail .r-list .r-main .r-content .list-item a:hover {
	background-color: rgb(251, 251, 251);
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-aside {
	width: 116px; height: 116px; margin-right: 18px; border-bottom-color: transparent; border-bottom-width: 4px; border-bottom-style: solid; float: left;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-aside img {
	width: 100%; height: 100%;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-aside .item-btm {
	height: 22px; color: rgb(255, 255, 255); line-height: 22px; overflow: hidden; margin-top: -22px; margin-left: 0px; position: absolute; z-index: 2; background-color: rgba(0, 0, 0, 0.7);
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-aside .item-btm .item-img-icon {
	padding: 0px; border: 2px solid rgb(255, 255, 255); border-image: none; width: 8px; height: 8px; margin-top: 5px; margin-left: 5px; float: left;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-aside .item-btm .item-img-icon .i-icon-arrow {
	border-width: 3px 3px 4px 5px; border-style: solid; border-color: transparent transparent rgb(255, 255, 255); border-image: none; width: 0px; height: 0px; display: block;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-aside .item-btm .item-img-icon .i-icon-dot {
	width: 2px; height: 2px; margin-top: -6px; margin-left: 1px; display: block; background-color: rgb(255, 255, 255);
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-aside .item-btm span {
	text-align: center; padding-right: 4px; padding-left: 4px; float: left;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-tle {
	height: 38px; color: rgb(38, 38, 38); line-height: 1.36; overflow: hidden; font-size: 14px; font-weight: 800; -ms-text-overflow: ellipsis;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-tip_new {
	padding: 2px; border-radius: 1px; color: rgb(255, 255, 255); font-size: 12px; font-weight: 400; margin-left: 4px; background-color: rgb(226, 59, 65);
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-tip_decrease {
	padding: 2px; border-radius: 1px; color: rgb(255, 255, 255); font-size: 12px; font-weight: 400; margin-left: 4px; background-color: rgb(226, 59, 65);
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-tip_decrease {
	background-color: rgb(69, 172, 113);
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-des {
	line-height: 1.84; margin-top: 2px; white-space: nowrap; position: relative;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-des span {
	margin-right: 5px;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-des .item-side {
	right: 0px; bottom: -3px; color: rgb(228, 57, 60); font-family: tahoma; font-size: 16px; font-weight: 800; margin-right: 0px; position: absolute;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-des .item-side span {
	font-size: 12px; font-weight: normal; margin-right: 0px; margin-left: 2px;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-community {
	line-height: 1.84; min-height: 21px;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-community .item-replace-com {
	display: none;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-tag-wrap {
	margin-top: 3px; min-height: 29px;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-extra {
	padding: 1px 6px 2px; border: 1px solid currentColor; border-image: none; margin-top: 6px; margin-right: 6px; display: inline-block;
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-tag-school {
	color: rgb(255, 120, 0);
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-tag-subway {
	color: rgb(41, 115, 179);
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-tag-taxfree {
	color: rgb(158, 199, 125);
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-tag-five {
	color: rgb(158, 199, 125);
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-tag-unique {
	color: rgb(88, 181, 13);
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-tag-haskey {
	color: rgb(52, 125, 171);
}
.mod-side .detail .r-list .r-main .r-content .list-item a .item-main .item-tag-restriction {
	color: rgb(63, 175, 115);
}
.mod-side .detail .r-list .r-main .r-content .list-item a:hover {
	text-decoration: none;
}
.mod-side .detail .r-list .r-main .r-content .list-item a:hover .item-main .item-community .item-exact-com {
	display: none;
}
.mod-side .detail .r-list .r-main .r-content .list-item a:hover .item-main .item-community .item-replace-com {
	display: inline;
}
.mod-side .detail .r-list .r-main .r-content .list-item-remind {
	background: url("img/map/list404.png") no-repeat center 90px; text-align: center; color: rgb(136, 136, 136); line-height: 400px; font-size: 18px;
}
.mod-side .detail .r-list .r-main .r-hd3 {
	padding-left: 40px; border-bottom-color: rgb(228, 228, 228); border-bottom-width: 1px; border-bottom-style: solid; display: none; position: relative;
}
.mod-side .detail .r-list .r-main .r-hd3 .r-hd3-bg {
	border-radius: 13px; left: 20px; top: 22px; width: 26px; height: 26px; position: absolute; background-color: rgb(60, 150, 230);
}
.mod-side .detail .r-list .r-main .r-hd3 .r-hd3-bg .r-hd3-cycle {
	background: rgb(255, 255, 255); border-radius: 6px; left: 7px; top: 4px; width: 12px; height: 12px; position: absolute;
}
.mod-side .detail .r-list .r-main .r-hd3 .r-hd3-bg .r-hd3-cycle div {
	border-radius: 3px; left: 3px; top: 3px; width: 6px; height: 6px; position: absolute; background-color: rgb(60, 150, 230);
}
.mod-side .detail .r-list .r-main .r-hd3 .r-hd3-bg .r-hd3-triangle {
	border-width: 7px 5px 5px; border-style: solid; border-color: rgb(255, 255, 255) transparent transparent; border-image: none; left: 8px; top: 13px; width: 0px; height: 0px; position: absolute;
}
.mod-side .detail .r-list .r-main .r-hd3 .i-card {
	padding: 15px 20px 12px; color: rgb(170, 170, 170); overflow: hidden; font-size: 12px;
}
.mod-side .detail .r-list .r-main .r-hd3 .i-card li {
	width: 140px; height: 22px; line-height: 22px; overflow: hidden; margin-right: 16px; float: left; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.mod-side .detail .r-list .r-main .r-hd3 .i-card .i-card-name {
	color: rgb(38, 38, 38); font-size: 18px; font-weight: 800;
}
.mod-side .detail .r-list .r-main .r-hd3 .i-card .i-card-name a {
	color: rgb(38, 38, 38); font-size: 18px; font-weight: 800;
}
.mod-side .detail .r-list .r-main .r-hd3 .i-card .i-card-price {
	width: 164px; color: rgb(228, 57, 60); margin-right: 0px;
}
.mod-side .detail .r-list .r-main .r-hd3 .i-card .i-card-price span {
	font-size: 18px; font-weight: 800;
}
.mod-side .detail .r-list .r-main .r-hd3 .i-card .i-card-radio {
	width: 164px; margin-right: 0px; display: none;
}
.mod-side .detail .r-list .r-main .r-hd3 .i-card-5 .i-card-radio {
	display: none;
}
.mod-side .detail .subway-list {
	border: 1px solid rgb(85, 85, 85); border-image: none; left: -1px; width: 100px; text-align: left; color: rgb(0, 0, 0); line-height: 24px; font-size: 12px; font-weight: normal; display: none; position: absolute; z-index: 4; cursor: default; min-height: 240px; background-color: rgb(255, 255, 255);
}
.mod-side .detail .subway-list span:hover {
	color: rgb(72, 158, 109);
}
.mod-side .detail .subway-list .line-item {
	overflow: hidden; padding-left: 10px; -ms-text-overflow: ellipsis;
}
.mod-side .detail .subway-list .line-item:hover .station-wrapper {
	display: block;
}
.mod-side .detail .station-wrapper {
	border: 1px solid rgb(85, 85, 85); border-image: none; left: 100px; top: -1px; height: 100%; display: none; position: absolute; background-color: rgb(250, 250, 250);
}
.mod-side .detail .station-list {
	background: url("img/map/subway-list-bg.png") no-repeat 11px 10px; width: 114px; padding-top: 14px; padding-left: 18px; vertical-align: top; display: inline-block; box-sizing: border-box;
}
.mod-side .detail .station-list .station-item {
	padding-left: 10px;
}
.mod-side .detail .item-station {
	overflow: hidden; display: block; cursor: pointer; -ms-text-overflow: ellipsis;
}
.mod-side .detail .item-line {
	overflow: hidden; display: block; cursor: pointer; -ms-text-overflow: ellipsis;
}
.mod-side .detail .r-station_guide {
	display: none; position: relative; z-index: 4;
}
.mod-side .detail .r-station_guide .subway-list {
	border-width: 0px; width: 100%; height: 410px; display: block; position: static;
}
.mod-side .detail .r-station_guide .subway-list .subway-list-inner {
	height: 100%; -ms-overflow-y: scroll; -webkit-overflow-scrolling: touch;
}
.mod-side .detail .r-station_guide .subway-list .line-item_hover .item-line {
	color: rgb(0, 0, 0); background-color: rgb(251, 251, 251);
}
.mod-side .detail .r-station_guide .subway-list .item-line {
	line-height: 44px; font-size: 14px; font-weight: 800; margin-right: 14px; margin-left: 5px; border-bottom-color: rgb(228, 228, 228); border-bottom-width: 1px; border-bottom-style: solid;
}
.mod-side .detail .r-station_guide .subway-list .item-line:hover {
	color: rgb(0, 0, 0); background-color: rgb(251, 251, 251);
}
.mod-side .detail .r-station_guide .subway-list .item-count {
	color: rgb(155, 155, 155); padding-right: 18px; font-size: 12px; font-weight: normal; float: right;
}
.mod-side .detail .r-station_guide .subway-list .item-marker {
	color: rgb(184, 184, 184); margin-left: 8px;
}
.mod-side .detail .r-station_guide .subway-list .station-wrapper {
	left: 372px; top: 60px; white-space: nowrap;
}
.mod-side .detail .r-station_guide .r-header {
	height: 60px; line-height: 64px; text-indent: 16px; overflow: hidden; font-size: 14px; border-bottom-color: rgb(189, 188, 184); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(253, 254, 238);
}
.mod-side .detail .r-station_guide .r-header .strong {
	padding-right: 22px; font-size: 12px; float: right;
}
.mod-side .ctrl {
	width: 56px; text-align: center; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);
}
.mod-side .ctrl li {
	width: 55px; height: 56px; overflow: hidden; font-size: 12px; margin-bottom: 2px; cursor: pointer;
}
.mod-side .ctrl li i {
	background: url("img/map/sprite-map1x.png") no-repeat left top; margin: 10px auto 2px; width: 20px; height: 20px; display: block;
}
.mod-side .ctrl .area i {
	background-position: -10px -10px;
}
.mod-side .ctrl .station i {
	background-position: -10px -38px;
}
.mod-side .ctrl .school i {
	background-position: -10px -72px;
}
.mod-side .ctrl .steam i {
	background-position: -10px -102px;
}
.mod-side .slide-bg {
	transition:top 0.15s; top: 0px; width: 55px; height: 56px; position: absolute; z-index: -1; background-color: rgb(60, 150, 230);
}
.mod-side .btn-wrap {
	left: 459px; border-left-color: rgb(166, 166, 166); border-left-width: 1px; border-left-style: solid;
}
.mod-side .btn {
	border-width: 1px 1px 1px 0px; border-style: solid; border-color: rgb(166, 166, 166); border-image: none; left: -1px; top: 50%; width: 12px; height: 52px; bottom: 0px; color: rgb(141, 147, 154); text-indent: 2px; margin-top: -2px; position: absolute; z-index: 3; cursor: pointer; text-shadow: 0px 0px 1px #8d939a; background-color: rgb(255, 255, 255);
}
.mod-side .btn::before {
	line-height: 50px; font-size: 12px; font-weight: 900; content: "\3c";
}
.mod-side .btn:hover {
	color: rgb(51, 51, 51); text-shadow: 0px 0px 1px #333;
}
.mod-side .close {
	left: 0px;
}
.mod-side .close .btn::before {
	content: "\3e";
}
.bubble-around {
	cursor: pointer;
}
.bubble-around .i-cycle {
	background-position: left top; margin: 6px auto 0px; border-radius: 50%; width: 20px; height: 20px; display: block; background-repeat: no-repeat; background-color: rgb(255, 144, 0);
}
.bubble-around .i-arrow {
	border-width: 10px 8px; border-style: solid; border-color: rgb(255, 144, 0) transparent transparent; margin: -4px auto 0px; border-image: none; width: 0px; height: 0px; display: block;
}
.bubble-around-bank .i-cycle {
	background-image: url("img/map/i-around-bank.png");
}
.bubble-around-bus .i-cycle {
	background-image: url("img/map/i-around-bus.png");
}
.bubble-around-station .i-cycle {
	background-image: url("img/map/i-around-station.png");
}
.bubble-around-education .i-cycle {
	background-image: url("img/map/i-around-education.png");
}
.bubble-around-hospital .i-cycle {
	background-image: url("img/map/i-around-hospital.png");
}
.bubble-around-fun .i-cycle {
	background-image: url("img/map/i-around-fun.png");
}
.bubble-around-shop .i-cycle {
	background-image: url("img/map/i-around-shop.png");
}
.bubble-around-sport .i-cycle {
	background-image: url("img/map/i-around-sport.png");
}
.bubble-around-eat .i-cycle {
	background-image: url("img/map/i-around-eat.png");
}
.bubble-around-store .i-cycle {
	background-position: 0px -1px; background-image: url("img/map/i-around-store.png"); background-color: rgb(72, 158, 109);
}
.bubble-around-store .i-arrow {
	border-top-color: rgb(72, 158, 109);
}
html {
	width: 100%; height: 100%; overflow: hidden; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	width: 100%; height: 100%; overflow: hidden; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.header {
	padding-top: 20px; padding-bottom: 20px; border-bottom-color: rgb(133, 133, 133); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 10; min-width: 980px;
}
.drop-i {
	top: 9px; width: 12px; height: 8px; right: 6px; position: absolute; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAMAAAD6Ou7DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFaWlpTExM6urq9/f39PT0Y2NjMzMz////zIu2XAAAAAh0Uk5T/////////wDeg71ZAAAAOUlEQVR42kzLyQ0AMAgDQXP333GMo0jhtQMC8w0G8A0vLNoot15kUexKYoI37mN/JLVAqS/eHAEGAGBxAebGuM4QAAAAAElFTkSuQmCC");
}
.drop-open {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAMAAAD6Ou7DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFTU1Nq6ur9fX1a2tr6Ojo+vr6MzMz////eEecWAAAAAh0Uk5T/////////wDeg71ZAAAAO0lEQVR42kzMSQ4AMAgCQCwu//9xxcakHAxzQNQX6AQZi2DmqHGYQPII6u4jlHqV1DC6xk573zZXgAEAbF4CBQUdtsQAAAAASUVORK5CYII=");
}
.drop-list {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-image: none; left: -1px; top: 26px; width: 100%; display: none; position: absolute; z-index: 1;
}
.drop-list .item {
	color: rgb(0, 0, 0); padding-left: 5px; cursor: pointer;
}
.drop-list .item:hover {
	background-color: rgb(249, 249, 249);
}
.drop-list .clicked {
	color: rgb(83, 179, 113); cursor: default; background-color: transparent;
}
.drop-list .clicked:hover {
	background-color: transparent;
}
.li-item .i-check {
	background: none; outline: rgb(85, 85, 85) solid 1px; width: 13px; height: 13px; margin-top: -2px; margin-right: 5px; vertical-align: middle; display: inline-block;
}
.li-item:hover .i-check {
	outline-color: rgb(83, 179, 113);
}
.li-checked .i-check {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBQTFRFtLe5ZGtuzs/Q4ePj+/r69vX18PDxkJSW9PPz+fj4/Pz8+Pj4/v7+/f39////////IRmpjwAAABB0Uk5T////////////////////AOAjXRkAAABlSURBVHjaLI1REsQwCEIxNjUxSu5/2+rs8sVDGDHPX/u9eBgtcurFds9Mp6IhMyKphqptkpWbnXnhCpYX5boIk/GaIBo2RExsMQpmxSKD2ZfTA3t/sJ1DQPeuPRk5lPV43U+AAQCVYgUOAtzIewAAAABJRU5ErkJggg==") no-repeat left top; outline-color: rgb(83, 179, 113) !important;
}
.li-disabled .i-check {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADBQTFRFtLe5ZGtuzs/Q4ePj+/r69vX18PDxkJSW9PPz+fj4/Pz8+Pj4/v7+/f39////////IRmpjwAAABB0Uk5T////////////////////AOAjXRkAAABlSURBVHjaLI1REsQwCEIxNjUxSu5/2+rs8sVDGDHPX/u9eBgtcurFds9Mp6IhMyKphqptkpWbnXnhCpYX5boIk/GaIBo2RExsMQpmxSKD2ZfTA3t/sJ1DQPeuPRk5lPV43U+AAQCVYgUOAtzIewAAAABJRU5ErkJggg==") no-repeat left top; outline-color: rgb(83, 179, 113) !important;
}
.li-disabled {
	cursor: default !important;
}
.li-disabled .i-check {
	outline-color: rgb(233, 233, 233) !important;
}
.i-remind {
	outline: rgb(255, 0, 0) solid 2px;
}
.bubble {
	transition:background-color 0.15s ease-in-out; box-shadow: 0px 2px 2px rgba(0,0,0,0.2); -ms-user-select: none; -webkit-transition: background-color .15s ease-in-out; -moz-transition: background-color .15s ease-in-out; -o-transition: background-color .15s ease-in-out; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.bubble-4 {
	border-radius: 28px; width: 56px; height: 56px; position: relative; background-image: url("img/map/bubble-4.png");
}
.bubble-4_tri {
	border-width: 8px; border-style: solid; border-color: transparent transparent rgb(255, 255, 255); border-image: none; left: 20px; top: 45px; width: 0px; height: 0px; position: absolute;
}
.bubble-4_tip {
	border-radius: 2px; left: -20px; top: 61px; width: 100px; height: 28px; text-align: center; line-height: 28px; overflow: hidden; position: absolute; -ms-text-overflow: ellipsis; box-shadow: 0px 2px 1px #a7a7a7; background-color: rgb(255, 255, 255);
}
.bubble-3 {
	height: 28px; text-align: center; line-height: 28px; cursor: pointer;
}
.bubble-3 .num {
	padding: 0px 6px; border-radius: 2px; border: 1px solid rgb(57, 172, 106); transition:0.15s ease-in-out; border-image: none; display: inline-block; min-width: 40px; background-color: rgb(57, 172, 106); -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out;
}
.bubble-3 .name {
	transition:0.15s ease-in-out; height: 30px; color: rgb(51, 51, 51); line-height: 30px; visibility: hidden; position: absolute; z-index: -1; opacity: 0; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out;
}
.bubble-3 .name-des {
	padding: 0px 6px; border-radius: 0px 3px 3px 0px; display: inline-block; box-shadow: 0px 2px 2px rgba(0,0,0,0.2); background-color: rgb(255, 255, 255);
}
.bubble-3 .name-des a {
	color: rgb(51, 51, 51);
}
.bubble-3:hover .num {
	border-color: rgb(228, 57, 60); color: rgb(255, 255, 255); border-top-right-radius: 0px; border-bottom-right-radius: 0px; background-color: rgb(228, 57, 60);
}
.bubble-3.clicked .num {
	border-color: rgb(228, 57, 60); color: rgb(255, 255, 255); border-top-right-radius: 0px; border-bottom-right-radius: 0px; background-color: rgb(228, 57, 60);
}
.bubble-3.hovered .num {
	border-color: rgb(228, 57, 60); color: rgb(255, 255, 255); border-top-right-radius: 0px; border-bottom-right-radius: 0px; background-color: rgb(228, 57, 60);
}
.bubble-3:hover .name {
	visibility: visible; opacity: 1;
}
.bubble-3.clicked .name {
	visibility: visible; opacity: 1;
}
.bubble-3.hovered .name {
	visibility: visible; opacity: 1;
}
.bubble-3:hover .arrow-up {
	border-top-color: rgb(228, 57, 60);
}
.bubble-3.clicked .arrow-up {
	border-top-color: rgb(228, 57, 60);
}
.bubble-3.hovered .arrow-up {
	border-top-color: rgb(228, 57, 60);
}
.bubble-3:hover .arrow {
	border-top-color: rgb(228, 57, 60);
}
.bubble-3.clicked .arrow {
	border-top-color: rgb(228, 57, 60);
}
.bubble-3.hovered .arrow {
	border-top-color: rgb(228, 57, 60);
}
.label-clicked {
	z-index: 3 !important;
}
.arrow-up {
	-ms-zoom: 1; opacity: 0.9999;
}
.arrow-up {
	border-width: 8px 6px 6px; border-style: solid; border-color: rgb(57, 172, 106) transparent transparent; margin: 0px auto; transition:0.15s ease-in-out; border-image: none; width: 0px; height: 0px; display: block; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out;
}
.arrow {
	border-width: 8px 6px 6px; border-style: solid; border-color: rgb(57, 172, 106) transparent transparent; margin: 0px auto; transition:0.15s ease-in-out; border-image: none; width: 0px; height: 0px; display: block; -webkit-transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -o-transition: all .15s ease-in-out;
}
.arrow {
	margin-top: -9px; margin-left: -6px; border-top-color: rgb(57, 172, 106); position: relative;
}
.bubble-2 {
	border-radius: 50%; border: 1px solid transparent; border-image: none; width: 78px; height: 78px; line-height: 18px; overflow: hidden; cursor: pointer; background-color: rgba(57, 172, 106, 0.9);
}
.bubble-2:hover {
	background-color: rgba(228, 57, 60, 0.9);
}
.bubble-2 .name {
	margin-top: 10px;
}
.bubble-2 p {
	overflow: hidden; padding-right: 6px; padding-left: 6px; -ms-text-overflow: ellipsis;
}
.bubble-21 {
	line-height: 20px;
}
.bubble-21 .name {
	margin-top: 20px;
}
.bubble-5 {
	width: 92px; height: 92px; line-height: 20px; font-size: 12px;
}
.bubble-5 .name {
	margin-top: 15px;
}
.bubble-5 .count {
	font-family: tahoma; font-size: 16px; font-weight: 800;
}
.bubble-6 .name {
	margin-top: 24px;
}
.bubble-6 .count {
	font-family: tahoma; font-size: 12px;
}
.bubble-8 {
	cursor: pointer; background-image: url("img/map/bubble-8.png");
}
.bubble-9 {
	line-height: 20px;
}
.bubble-9 .name {
	margin-top: 20px;
}
.bubble-10 {
	cursor: default; background-image: url("img/map/btn-subway-staion.png");
}
@media 
{
.bubble-2 {
	background-position: center; background-image: url("img/map/bubble2-ie8.png"); background-repeat: no-repeat; background-color: transparent;
}
.bubble-2:hover {
	background-image: url("img/map/bubble2-hover-ie8.png"); background-color: transparent;
}
.bubble-5 {
	background-position: center; background-image: url("img/map/bubble5-ie8.png"); background-repeat: no-repeat; background-color: transparent;
}
.bubble-5:hover {
	background-image: url("img/map/bubble5-hover-ie8.png"); background-color: transparent;
}
}
